<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-departamentos-heading"
        data-cy="DepartamentosCreateUpdateHeading"
        jhiTranslate="dunderMifflinApp.departamentos.home.createOrEditLabel"
      >
        Crear o editar Departamentos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="dunderMifflinApp.departamentos.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="dunderMifflinApp.departamentos.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ubicacion" jhiTranslate="dunderMifflinApp.departamentos.ubicacion">Ubicacion</label>
          <input type="text" class="form-control" name="ubicacion" id="field_ubicacion" data-cy="ubicacion" formControlName="ubicacion" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_presupuesto" jhiTranslate="dunderMifflinApp.departamentos.presupuesto">Presupuesto</label>
          <input
            type="number"
            class="form-control"
            name="presupuesto"
            id="field_presupuesto"
            data-cy="presupuesto"
            formControlName="presupuesto"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nombrejefe" jhiTranslate="dunderMifflinApp.departamentos.nombrejefe">Nombrejefe</label>
          <select
            class="form-control"
            id="field_nombrejefe"
            data-cy="nombrejefe"
            name="nombrejefe"
            formControlName="nombrejefe"
            [compareWith]="compareJefes"
          >
            <option [ngValue]="null"></option>
            @for (jefesOption of jefesSharedCollection; track $index) {
              <option [ngValue]="jefesOption">{{ jefesOption.nombre }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
